CLAUDE_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
AWS_BUCKET_NAME=
MONGODB_URI=
JWT_SECRET=
FRONTEND_URL=http://localhost
AI_BASE_URL=http://ia:5000
FIREBASE_SERVICE_ACCOUNT=
